<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="twilio-sms-key" value="ACe73db3e1ec4ca21ff394a1a28e3e9809" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="twilio-auth-token" value="df40c9c3ca385fb360586090029ed75e" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>